html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;

  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: url(../../images/ibg.jpg) center center no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body.no_scroll {
  overflow: hidden;
}
